.upcomingPieces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: c;
}

.row {
  display: flex;
}

.cell {
  height: 0.4rem;
  width: 0.4rem;
  background-color: black;
  margin: 1px;
}

.shape {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
}
